@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+J:ital,wght@0,100..400;1,100..400&display=swap');

* {
    font-family: "Playwrite GB J", cursive;
}

body {
    margin: 0;
    background-color: #FAF0CA;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    background-color: #0D3B66;

    color: #FAF0CA;

    box-shadow: 1px 5px 15px 1px rgba(0, 0, 0, 0.47);
}

header h1 {
    font-weight: 800;
}

header p {
    opacity: 0.8;
}

header button {
    width: 100px;
    height: 50px;

    font-size: 15px;
    font-weight: bold;

    color: #0c355b;

    background-color: #FAF0CA;

    border: none;
    border-radius: 15px;

    transition: 0.3s ease-out;
}

header button:hover {
    transition: 0.3s ease;
    transform: scale(1.1);
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h4 {
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 1.8px;
    color: #0D3B66;
    margin-bottom: 0;
}

.books-container {
    width: 90%;
    height: 90%;
    margin: 20px;


    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    overflow: visible;
    gap: 20px;
}

.book {
    background-color: #88665D;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    width: 200px;
    height: 220px;
    box-shadow: 1px 0px 18px 1px #0c365d99;
}

.book-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
    margin-bottom: 20px;

}

.author {
    font-size: 13px;
    font-weight: 600;
    margin: 0;
    opacity: 0.7;

}

.book-title {
    margin: 10px;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 1.5px;
    color: #FAF0CA;
}

.pages-num {
    font-size: 13px;
    font-weight: 600;
    margin: 0;
    opacity: 0.7;
}

.actions {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.delete-book {
    width: 50px;
    background: none;
    border: none;
    transition: 0.3s ease-out;
}

.delete-book:hover {
    transition: 0.3s ease;
    transform: scale(1.1);
    cursor: pointer;
}

.Iscompleted {
    color: #4E878C;
    width: 40px;
    background: none;
    border: none;
}

.form-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    z-index: 1000;
    padding: 20px;
    width: 380px;
    height: 370px;
    background-color: #0c355b;
    color: #FAF0CA;
    border-radius: 20px;
    box-shadow: 1px 0px 18px 1px #0c365d99;
}

.form-container h4 {
    color: #88665D;
}

form {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
}

form input,
select,
option {
    height: 30px;
    background-color: #FAF0CA;
    border: none;
    border-radius: 10px;
    padding-left: 5px;
    color: #0c355b;
    font-weight: bold;

}

form button {
    width: 130px;
    height: 50px;

    font-size: 15px;
    font-weight: bold;

    color: #0c355b;

    background-color: #FAF0CA;

    border: none;
    border-radius: 15px;

    transition: 0.3s ease-out;
}

form button:hover {
    transition: 0.3s ease;
    transform: scale(1.1);
    cursor: pointer;
}